<!-- Log in modal start -->
<div id="login-modal" class="modal">
  <form class="modal-content animate" id="login-form">
    <div class="imgcontainer">
      <span onclick="document.getElementById('login-modal').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    </div>
    <div class="modal-container">
      <span class="modal-headline">
        <h1>Sign In</h1>
      </span>
      <label for="username"><b>Username</b></label>
      <input type="username" class="modal-input" placeholder="Enter Username" name="username" id="username" autocomplete="username"
        required />
      <label for="password"><b>Password</b></label>
      <input type="password" id="password" name="password" class="modal-input" placeholder="Enter Password"
        autocomplete="current-password" required />
      <button type="submit" class="modal-button">Login</button>
    </div>


<<<<<<< HEAD
    {{!-- <div class="nav-element nav-button">
=======
    <div class="nav-element nav-button">
>>>>>>> 701c73d (routes updates)
      <button onclick="document.getElementById('signup-modal').style.display='block'" class="signup-button">
        Sign Up
      </button>
    </div> --}}
  </form>
</div>
<!-- login in modal end -->

<!-- create account Modal Start -->

<div id="signup-modal" class="modal">
  <form class="modal-content animate" id="signup-form">
    <div class="imgcontainer">
      <span onclick="document.getElementById('signup-modal').style.display='none'" class="close"
        title="Close Modal">&times;</span>
    </div>

    <div class="modal-container">
      <span class="modal-headline">
        <h1>Sign Up</h1>
      </span>
      <label for=""><b>Username</b></label>
      <input type="text" class="modal-input" placeholder="Enter Username" name="username" id="signup-username"
        autocomplete="username" required />
      <label for="email"><b>Email</b></label>
      <input type="email" class="modal-input" dplaceholder="Enter Email" name="email" id="signup-email" autocomplete="email"
        required />
      <label for="password"><b>Password</b></label>
      <input type="password" class="modal-input" placeholder="Enter Password" name="password" id="signup-password" required />
      <button type="submit" class="modal-button">Sign Up</button>

    </div>

     {{!-- <div class="nav-element nav-button">
      <button onclick="document.getElementById('login-modal').style.display='block'" class="login-button">
       Log In
      </button>
    </div> --}}
  </form>
</div>
<!-- create account modal end -->