<link rel="stylesheet" href="/css/nav.css" type="text/css" />

<nav class="navlist nav-desktop" role='navigation'> <!-- Navbar container start -->
    <!-- Navbar content start -->

    <div class="nav-element logo-div">
        <a href="/" class="home-link">HOME</a>
    </div>

 {{#if logged_in}}
    <div class="nav-element sement-links">
        <a href="/dashboard" class="dashboard-link">DASHBOARD</a>
    </div>

    <div class="nav-element nav-button">
        <form id="logout-form">
            <button type="submit" class="logout-button">
                LOG OUT
            </button>
        </form>
    </div>

    {{else}}
    <div class="nav-element nav-button">
        <button onclick="document.getElementById('login-modal').style.display='block'" class="login-button">
            LOG IN
        </button>
    </div>
    <div class="nav-element nav-button">
      <button onclick="document.getElementById('signup-modal').style.display='block'" class="signup-button">
        SIGN UP
      </button>
    </div> 
    <!-- sign up button -->

    {{/if}}
</nav>

{{>login}}
<script src="/js/nav.js"></script>
