       
        <link rel="stylesheet" href="/css/form.css">
        <section class="shell"> <!-- Body Shell -->
            <section class="content">
                <div class="carafe"> <!-- Form Container -->

                    <main class="header"> <!-- Form Header -->
                        <h1>Enter New Post</h1>
                    </main>
                    <form method="post" action="/posts" id="blogForm">
                        {{!-- <div class="input-data">
                            <label for="username" class="formlabel">Username:</label><br>
                            <input type="text" class="field" id="username" name="Username" autocomplete="username"
                                placeholder="Username" required>
                        </div> --}}
                        {{!-- <br> --}}
                        <div class="input-data">
                            <label for="blogTitle" class="formlabel">Blog Title:</label><br>
                            <input type="text" class="field" id="blogTitle" name="Title"
                                placeholder="Blog Post Title..." autocomplete="off" required>
                        </div>
                        <br>
                        <div class="input-data">
                            <label for="blogContent" class="formlabel">Blog Content:</label><br>
                            <textarea name="message" class="field" id="blogContent" rows="10" autocomplete="off"
                                placeholder="Enter your content here..."></textarea>
                        </div>
                        <div id="msg"></div>
                        <br>
                        <div id="'submit-button">
                            <button class="button" type="submit" value="Submit" id="submit">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    <script src="/js/form.js"  type="text/javascript"></script>