/* @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

body {
  /* display: flex;
    flex-direction: column; */
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 0;
  max-width: 100%;
}

/* .content {
  max-width: 100%;
  padding: 10px;
  margin: 0px;
  flex: 1; This allows the container to grow and push the footer down
  padding-bottom: 50px; Adjust this value to create space for the footer
  flex-direction: row;
} */

.content .header {
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  height: auto;
}

/* .card {
  margin: 40px;
} */

/* .posts {
  margin: 20px;
} */

footer {
  margin-top: auto; /* This pushes the footer to the bottom */
  background: transparent;
  text-align: center;
  padding: 30px;
}