/* The switch - the box around the slider */
.top-nav{
  display:block;
  align-items: center;
  margin: 10px;
}

.toggle {
  float:right;
  margin: 10px;
}

.switch { /*aka slide part of the toggle */
    position: relative;
    display: inline-block;
    width: 39px; /*slide length */
    height: 22px; 
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  .slider:before { /*circle*/
    position: absolute;
    content: "";
    height: 15px; /*circle height*/
    width: 15px;  /*circle width */
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3DD1E7;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3DD1E7;
  }
  
  input:checked + .slider:before {  /*length circle moves*/
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded slider */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

/* Dark Mode */
.dark {
  background-color: black;
  height: 100vh;
  color: white;
}

/* Moon icon on the toggle */
.dark .slider:before{
  content:"☾";
  text-align: center;
  font-size: 10px;
  margin:auto;
  color:black;
}

.dark .content{
  background-color: black;
  color: white;
}

.dark .content a {
  color: white;
  background-color: black;
}

.dark .footer{
  color: white; 
}

.dark .headline {
  color: white;
 
}

.dark .content a:hover {
  background-color: #31363F;
  color: white;
}

/* Light Mode */
.light {
  background-color: white;
  color: black;
}

/* Sun icon on the toggle */
.light .slider:before{
  content:"𖤓";
  text-align: center;
  font-size: 10px;
  margin:auto;
  color:black;
}

/* .light .field{
  color:black;
} */

.light .content{
  background-color: white;
  color: black;
}

.light .content a {
  color: black;
}

.light .content a:hover {
  background-color: rgb(29, 128, 210);
}

.light .footer{
  color: black;  
}


/*Back Button*/
.back-container {
  float:right;
  margin: 10px;
}

/* CSS */
#backbutton {
  align-items: center;
  appearance: none;
  background-color: #ccc;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 22px;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

#backbutton:active {
  border-color: #4a4a4a;
  outline: 0;
}

#backbutton:focus {
  border-color: #485fc7;
  outline: 0;
}

#backbutton:hover {
  border-color: #b5b5b5;
}

#backbutton:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}